<a href="https://colab.research.google.com/github/TejasMankarr/Books-Library/blob/master/SQL_to_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
import pandas as pd

# Sample data based on the provided SQL table and data
data = {
    'review_id': [1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008],
    'user_id': [501, 502, 503, 504, 505, 506, 507, 508],
    'submit_date': pd.to_datetime(['2022-01-15', '2022-01-20', '2022-01-25', '2022-01-15',
                                   '2022-02-20', '2022-02-26', '2022-03-01', '2022-03-05']),
    'restaurant_id': [101, 101, 102, 102, 101, 101, 101, 102],
    'rating': [4, 5, 3, 4, 5, 4, 4, 2]
}

# Create DataFrame
df = pd.DataFrame(data)

# Extract month from submit_date
df['month'] = df['submit_date'].dt.month

# Group by month and restaurant_id, filter groups with count >= 2, and calculate the average rating
result = (
    df.groupby(['month', 'restaurant_id'])
    .filter(lambda x: len(x) >= 2)  # Equivalent of HAVING COUNT(*) >= 2
    .groupby(['month', 'restaurant_id'])['rating']
    .mean()
    .reset_index(name='avg_rating')
    .sort_values(by=['month', 'restaurant_id'])
)

print(result)

   month  restaurant_id  avg_rating
0      1            101         4.5
1      1            102         3.5
2      2            101         4.5